$font-main: 'Quintessential', cursive;
$font-second: 'Montserrat Alternates', sans-serif;
$color-first: #74277A;
$color-second: #EA7E75;
$color-third: #F3F3FA;
$color-fourth: #212633;
$color-fifth: #A6A6E8;
$color-sixth:#EC76D6;
$color-golden: #CCA559;