@import './core/Variables';
@import './core/Reset';
body{
    background-color: #212633;
    height: 100%;
}
.background-main{
 

    background-position: center;
      object-fit: cover;
      background-origin: content-box;
      background-repeat: no-repeat;
    height: 100%;
    font-family:$font-main;
}
.nav{
    width: 100vw;
    background-color: #C070AA;
    list-style: none;
    display: flex;
    height: 40px;
    align-items: center;
   justify-content: center;
   gap: 40px;
    
    &__element{
        color: #DEDEFF;
        font-family: $font-second;
        text-transform: uppercase;
        &:hover {
            color: #212633;
            
        }
    }
}
.headermain{
    margin-top: 50px;
    height: 280px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   .logomain{
    height: 150px;
   }
   .h1main{
    font-size:150px ;
   color: #DEDEFF;
    text-transform: capitalize;
   }
}
.form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 30px;
    font-family:$font-second;
    color: #AF6FAC;
}
.mainhoroscope{
    margin:80px ;
    display: grid;

    gap: 50px;
  
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.onehoroscope{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__name{
        font-size: 22px;
        color: #DEDEFF;
        text-transform: uppercase;
        text-align: center;
    }
    &__img{
        width: 150px;
        height: 150px;
    }
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: $font-second;
    background-color: #653666;
  }

