@import './core/Variables';
@import './core/Reset';
body{
    background-image: url('../images/Fondo.png');
    height: 100%;
 
}
.background-main{
 

    background-position: center;
      object-fit: cover;
      background-origin: content-box;
      background-repeat: no-repeat;
    height: 100%;
    font-family:$font-main;
}
.nav{
  position: fixed;
  top:0;
    width: 100vw;
    background-color: $color-second;
    list-style: none;
    display: flex;
    height: 40px;
    align-items: center;
   justify-content: center;
   gap: 40px;
    
    &__element{
        color: #DEDEFF;
        font-family: $font-second;
        text-transform: uppercase;
        &:hover {
            color:$color-first ;
            
        }
    }
}
.headermain{
  
margin-top: 60px;
    height: 180px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   .logomain{
    height: 100px;
   }
   .h1main{
    font-size:100px ;
    font-family:$font-main;
   color: $color-third;
    text-transform: capitalize;
   }
}
.inicio{
    color:$color-third;
    gap: 40px;
    margin: 125px 600px 100px 600px;
    font-family:$font-main;
justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .h3{
        font-family:$font-second;
        font-weight: 200;
        text-align: center;
        line-height : 45px;
        
    }
    .h2{
        font-family:$font-main;
    }

}
.button {
    font-family: $font-second;

    font-weight: 500;
    border-radius: 22.5px;

      padding: 10px 10px 10px 10px;
      margin-top: 41px;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      color: $color-third;
      background-color: $color-golden;
      &:hover {
        background-color: $color-third;
        transform: scale(1.1, 1.1);
        transition: transform 2s;
        color:$color-golden;
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px $color-golden, 0 0 10px $color-golden,
		0 0 15px $color-golden, 0 0 20px $color-golden;
      }
      &:not(:hover) {
        transition: transform 2s;
      }
      @media all and (min-width: 768px)  {
        padding: 10px 32px 10px 32px;
      }
  
  }
  

.footer {
  position: fixed;
    bottom: 0;
    width: 100vw;
    height: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     color: $color-third;
    text-align: center;
    font-family: $font-second;
    background-color: $color-first;
  }

