@import "./core/Variables";

.relations {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 5px;
	margin-top: 30px;


	@media all and (min-width: 768px) {
		gap: 100px;
	}

	&__sign {
		flex-direction: column;
		display: flex;
		align-items: center;

		&__image {
			height: 160px;
			
			filter: drop-shadow(0px 0px 6px $color-golden);
		
			@media all and (min-width: 768px) {
				height:  200px;
			}
		}
	}

	&__hrscpA {
		font-family: $font-main;
		color: $color-golden;
		
		height: 40px;
	}

	&__hrscpB {
		font-family: $font-main;
		color: $color-second;
		
		height: 40px;
	}
}
.spantext{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.spanimg{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}
.VS {
	align-self: center;
	color:$color-third;
	font-size: 20px;

	@media all and (min-width: 768px) {
		font-size: 30px;
	}
}

.rbutton {
	font-family: $font-second;

	font-size: 12px;
	width: 160px;
	height: 35px;
	text-align: center;
	font-weight: 200;
	border-radius: 10px;

	padding: 10px 20px 10px 20px;
	color: $color-third;
	background-color: $color-second;

	@media all and (min-width: 768px) {
	}

	&:hover {
		background-color: $color-third;
		transform: scale(1.1, 1.1);
		transition: transform 2s;
		color: $color-second;
	}

	&:not(:hover) {
		transition: transform 2s;
	}
}

.selection {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	@media all and (min-width: 768px) {
		margin: 20px;
		gap: 30px;
	}
	@media all and (min-width: 1200px) {
		gap: 20px;
		margin: 20px;
	}
}

.text_relations {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	color: $color-third;
	font-weight: 200;
	line-height: 50px;
	font-family: $font-second;
	font-size: 20px;



	/*    @media all and (min-width: 768px) {
        margin-left: 10%;
        margin-right: 10%;
    } */

	@media all and (min-width: 1200px) {
        margin-left: 15%;
        margin-right:15%;
		font-size: 16px;
	/* 	width: 1000px; */
	margin-top: 10px;
	}
}

.select {
	color:$color-golden;
	padding: 8px;
	font-family: $font-second;
	height: 42px;
	border-radius: 10px;
	background-color: $color-third;
	border: 2px solid  $color-golden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none;
	font-size: 12px;

	@media all and (min-width: 768px) {
		font-size: 16px;
	}
}
.selectB {
	color: $color-second;
	padding: 8px;
	font-family: $font-second;
	height: 42px;
	border-radius: 10px;
	background-color: $color-third;
	border: 2px solid $color-second;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-ms-appearance: none;
	font-size: 12px;
	
	@media all and (min-width: 768px) {
		font-size: 16px;
	}
}
